.columns {
    margin-top: .7cm;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.columns .column-left {
    border-radius: 12px 0 0 12px;
    width: 100%;
    border: var(--columns-border-left);
}

.column-left .description {
    margin: var(--default-margin);
    text-justify: newspaper;
}

.columns .column-right {
    border-radius: 0 12px 12px 0;
    width: 100%;
    border-left: var(--columns-border-right);
    border-top: var(--columns-border-right);
    border-right: var(--columns-border-right);
    border-bottom: var(--columns-border-right);
}

.container {
    margin: var(--default-margin);
}

.column-right .container {
    margin: var(--double-margin) !important;
}

.container > .title {
    width: 100%;
    margin: auto;
    padding-left: 4px;
    padding-bottom: 2px;
    text-align: left;
    text-transform: uppercase;
}

.column-left .container > .title {
    border-radius: unset !important;
    border-bottom: 2px dotted white;
}

.column-right .container > .title {
    border-radius: unset !important;
    border-bottom: 2px solid white;
}

.container .content {
    margin: var(--default-margin);
}

.container .content p {
    text-justify: distribute;
}

.container .content p img {
    margin-right: 6px;
    border-radius: 6px;
    height: 24px;
    width: 24px;
}

.element .head-element {
    margin: var(--default-margin) !important;
}

.element .content {
    margin-top: -8px !important;
}