.navigation {
    position: absolute;
    top: 5%;
    right: 16px;
    color: white;
    border: var(--columns-border-right);
    display: none;
}

@media (min-width: 1200px) {
    .navigation {
        display: unset;
    }
}

.navigation .spacer {
    border-top: var(--columns-border-right);
}

.navigation .buttons {
    padding: var(--divide-margin);
}

.navigation .buttons.themes {
    display: grid;
    grid-template-columns: .33fr .33fr .33fr;
}

.navigation .buttons i, .navigation .buttons p {
    border-radius: var(--divide-radius);
    padding: var(--default-margin);
    margin: auto;
}

.navigation .buttons a {
    text-decoration: none;
}

.navigation .buttons p {
    background: var(--button-background);
}

.navigation .buttons i:nth-child(1) {
    background: var(--page-background);
}

.navigation .buttons i:nth-child(2) {
    background: var(--page-background-clean);
}

.navigation .buttons i:nth-child(3) {
    background: var(--page-background-features);
    opacity: .4;
}

.navigation .buttons img {
    margin: auto;
    border-radius: var(--default-radius);
    height: 22px;
}

.navigation .buttons #english {
    background: var(--page-background-clean);
}

.navigation .buttons i:hover, .navigation .buttons p:hover, .navigation .buttons a:hover, .navigation .buttons img:hover {
    opacity: .4;
    cursor: url('../img/cursors/cursor-hover.png'), auto;
}

.navigation .buttons i.features {
    cursor: url('../img/cursors/cursor-default.png'), default !important;
}