.header .title {
    font-size: 52px;
}

.header .subtitle {
    font-size: 18px;
}

.container .title {
    font-size: 24px;
}

.column-left .description, .container .content {
    font-size: 14px;
}

.container .content img {
    height: 12px;
    width: 12px;
    margin-right: 2px;
}

.element .title {
    font-size: 14px !important;
}

.element .subtitle {
    font-size: 12px !important;
    font-style: italic;
    font-weight: lighter !important;
}

.element .content {
    font-size: 12px !important;
}